@use '@/assets/css/default.scss' as *;

.segment {
    margin: 0 0 70px 0;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;

    .main-body {
        position: relative;
        width: 100%;
        min-height: 1px;
    }

    .heading {
        color: var(--color-heading);
        h1 {
            font-size: 2rem;
            line-height: 2;
            @media (max-width: 1024px) {
                font-size: 1.75rem;
            }
            @media (max-width: 768px) {
                font-size: 1.5rem;
            }
            @media (max-width: 576px) {
                font-size: 1.25rem;
            }
        }
    }

    .title {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
        margin-bottom: 1rem;

        h2 {
            font-size: 1.4rem;
            line-height: 1.4;

            @media (max-width: 1024px) {
                font-size: 1.3rem;
                line-height: 1.4;
            }

            @media (max-width: 768px) {
                font-size: 1.2rem;
                line-height: 1.4;
            }

            @media (max-width: 576px) {
                font-size: 1.1rem;
                line-height: 1.3;
            }
        }
    }
    .subtitle {
        -webkit-box-flex: 0;
        margin-bottom: 0.5rem;

        h4 {
            font-size: 1.2rem;
            line-height: 1.5;
            @media (max-width: 1024px) {
                font-size: 1.1rem;
                line-height: 1.4;
            }

            @media (max-width: 768px) {
                font-size: 1rem;
                line-height: 1.3;
            }
            @media (max-width: 576px) {
                font-size: 0.9rem;
                line-height: 1.2;
            }
        }
    }
    .description {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;

        p {
            font-size: 1rem;
            line-height: 1.5;
            @media (max-width: 1024px) {
                    font-size: 0.9rem;
                    line-height: 1.5;
            }

            @media (max-width: 768px) {
                    font-size: 0.8rem;
                    line-height: 1.4;
            }

            @media (max-width: 576px) {
                    font-size: 0.7rem;
                    line-height: 1.3;
            }
        }
    }

    .date {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
        font-size: 1rem;
        @media (max-width: 1024px) {
            font-size: 0.9rem;
        }
        @media (max-width: 768px) {
            font-size: 0.8rem;
        }
        @media (max-width: 576px) {
            font-size: 0.7rem;
        }
    }
    .row-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-bottom: 2rem;
    }

    .table {
        thead th {
            background-color: var(--color-border-heading);
        }

        tbody tr:hover {
            th,
            td {
                background-color: var(--color-border-hover);
            }
        }

        width: 100%;

        th,
        td {
            @include marpad(0, 0, 0, 0, 1px, 5px, 1px, 5px);
        }

        thead th {
            text-align: center;
            font-weight: bold;
        }

        tbody th {
            text-align: left;
        }
    }

    .table-bordered {
        td,
        th {
            border-color: var(--color-border);
            border-style: solid;
            @extend %default-border;
        }
    }

    .button-inline {
        display: inline-flex;
        margin: 0 auto;
        width: 100%;
        justify-content: center;

        button {
            @extend %default-border;
            // box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            font-size: 20px;
            @include marpad(0, 14px, 0, 14px, 14px, 14px, 14px, 14px);
        }

        @media (max-width: 768px) {
            button {
                font-size: 15px;
            }
        }

        @media (max-width: 576px) {
            button {
                font-size: 10px;
            }
        }
    }

    a {
        color: var(--color-link-text);
        display: inline-block;
        padding: 0;
    }

    &.dark {
        h1 {
            color: var(--color-heading-dark);
        }

        .table {
            thead th {
                background-color: var(--color-border-heading-dark);
            }

            tbody tr:hover {
                th,
                td {
                    background-color: var(--color-border-hover-dark);
                }
            }
        }

        .table-bordered {
            td,
            th {
                border-color: var(--color-border-dark);
            }
        }

        .button-inline button {
            background-color: var(--color-border-dark);
            border-color: var(--color-border-dark);
            color: var(--color-heading-dark);
        }

        a {
            color: var(--color-link-text-dark);
        }
    }

    &:not(.dark) {
        h1 {
            color: var(--color-heading-light);
        }

        .table {
            thead th {
                background-color: var(--color-border-heading-light);
            }

            tbody tr:hover {
                th,
                td {
                    background-color: var(--color-border-hover-light);
                }
            }
        }

        .table-bordered {
            td,
            th {
                border-color: var(--color-border-light);
            }
        }

        .button-inline button {
            background-color: var(--color-border-light);
            border-color: var(--color-border-light);
            color: var(--color-heading-light);
        }

        a {
            color: var(--color-link-text-light);
        }
    }
}

.v-enter-from {
    opacity: 0;
    transform: translateY(10px);
}

.v-enter-active {
    transition: opacity 0.5s ease-out, transform 1s ease;
    transition-delay: 0.1s;
}

.v-enter-to {
    opacity: 1;
    transform: translateY(0);
}