@use '@/assets/css/default.scss' as *;

aside {
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 99;
    background-color: var(--color-sidebar);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    @include marpad(0, 0, 0, 0, 14px, 14px, 14px, 14px);

    .logo a,
    .menu-toggle-wrap .menu-toggle .material-symbols-outlined,
    .menu .button .material-symbols-outlined,
    .menu .button .text {
        color: var(--color-text);
    }

    .menu .button {
        &:hover,
        &.router-link-exact-active {
            background-color: var(--color-sidebar-hover);
        }
    }

    h3 {
        color: var(--color-heading);
    }

    &.dark {
        background-color: var(--color-sidebar-dark);

        .logo a,
        .menu-toggle-wrap .menu-toggle .material-symbols-outlined,
        .menu .button .material-symbols-outlined,
        .menu .button .text {
            color: var(--color-heading-dark);
        }

        .menu .button {
            &:hover,
            &.router-link-exact-active {
                background-color: var(--color-sidebar-hover-dark);
            }
        }

        h3 {
            color: var(--color-heading-dark);
        }
    }

    &:not(.dark) {
        background-color: var(--color-sidebar-light);

        .logo a,
        .menu-toggle-wrap .menu-toggle .material-symbols-outlined,
        .menu .button .material-symbols-outlined,
        .menu .button .text {
            color: var(--color-heading-light);
        }

        .menu .button {
            &:hover,
            &.router-link-exact-active {
                background-color: var(--color-sidebar-hover-light);
            }
        }

        h3 {
            color: var(--color-heading-light);
        }
    }

    .flex {
        flex: 1 1 0;
    }

    .logo {
        width: 28px;
        margin: 0 auto;

        a {
            font-size: 14px;
            font-weight: bolder;
            white-space: nowrap;
            display: flex;
            justify-content: center;
        }

        @media (max-width: 768px) {
            width: 21px;

            a {
                font-size: 10.5px;
            }
        }

        @media (max-width: 576px) {
            width: 14px;

            a {
                font-size: 7px;
            }
        }
    }

    .menu-toggle-wrap {
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 0;
        @include marpad(0, 0, 14px, 0, 0, 0, 0, 0);

        .menu-toggle {
            padding: 0;

            .material-symbols-outlined {
                font-size: 28px;

                @media (max-width: 768px) {
                    font-size: 21px;
                }

                @media (max-width: 576px) {
                    font-size: 14px;
                }
            }
        }
    }

    h3,
    .button .text {
        opacity: 0;
        transition: 0.3s ease-out;
        white-space: nowrap;
    }

    .menu {
        @include marpad(0, -14px, 0, -14px, 0, 0, 0, 0);

        .button {
            display: flex;
            align-items: center;
            text-decoration: none;
            @include marpad(0, 0, 0, 0, 7px, 14px, 7px, 14px);

            .material-symbols-outlined {
                font-size: 28px;

                @media (max-width: 768px) {
                    font-size: 21px;
                }

                @media (max-width: 576px) {
                    font-size: 14px;
                }
            }
        }
    }

    &.expanded {
        width: var(--sidebar-extended-width);

        .menu-toggle-wrap {
            top: -28px;

            .material-symbols-outlined {
                transform: rotate(180deg);
            }
        }

        h3,
        .button .text {
            opacity: 1;
        }

        .button .material-symbols-outlined {
            margin-right: 14px;
        }

        @media (max-width: 768px) {
            .menu-toggle-wrap {
                top: -21px;
            }

            .button .material-symbols-outlined {
                margin-right: 10.5px;
            }
        }

        @media (max-width: 576px) {
            .menu-toggle-wrap {
                top: -14px;
            }

            .button .material-symbols-outlined {
                margin-right: 7px;
            }
        }
    }
}