@import './base.css';
@import './spacing.css';
@import './flex.css';
@import './grid.css';

main {
    flex: 1 1 0;
    padding: 28px;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    transition: 0.2s ease-out;

    @media (max-width: 768px) {
        padding: 21px;
    }
    @media (max-width: 576px) {
        padding: 14px;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
  text-decoration: none;
  padding: 3px;
}


button {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.loaded {
  transition: 0.2s ease;
  * {
    transition: 0.2s ease;
  }
}

.text-right {
    text-align: right !important;
}