@import './base.css';

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}


button {
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
