<main class="home-page">
    <segment title="Welcome!" :isDark="isDark">
        <div class="row-item">
            <div class="description">
                <p>
                    I am HU. You can also call me Henry or HTAKM. I an currently 
                    working as a software engineer in Winley. I was a former  
                    undergraduate student at the Hong Kong University of Science and 
                    Technology, majoring in Computer Science (with Extended Major in 
                    Artificial Intelligence) and minoring in Data Science and 
                    Technology.
                </p>
                <p>
                    In this website, you can find some information about me, as well 
                    as the notes I made throughout my academic journey and some 
                    related links. You can click on the following links to find 
                    what you want.
                </p>
                <ul>
                    <li><router-link to="/project#notes">My Notes</router-link></li>
                    <li><a href="https://htakm.github.io/htakm_test/" target="_blank" rel="noopener">My Old Website</a></li>
                </ul>
            </div>
        </div>
    </segment>
</main>