<main class="about-page">
    <segment class="session" :isDark="isDark">
        <div class="button-inline">
            <button @click="changeShowing('Contact')">Contact</button>
            <button @click="changeShowing('Academic')">Academic</button>
            <button @click="changeShowing('Experience')">Experience</button>
            <button @click="changeShowing('Games')">Games</button>
        </div>
    </segment>

    <segment title="Contact" class="session" v-show="isShowing === 'Contact'" :isDark="isDark">
        <div class="row-item">
            <div class="description">
                <p>Email: <a href="mailto:yhkwokae@connect.ust.hk">yhkwokae@connect.ust.hk</a></p>
            </div>
        </div>
    </segment>

    <segment title="Academic Info" class="session" v-show="isShowing === 'Academic'" :isDark="isDark">
        <div class="row-item">
            <div class="title">
                <h3>The Hong Kong University of Science and Technology</h3>
            </div>
            <div class="date text-right">
                <small>SEP 2022 - JUL 2026</small>
            </div>
            <div class="subtitle">
                <h4>Bachelor of Science</h4>
            </div>
            <div class="description">
                <p>Main major: Computer Science (with Extended Major in Artificial Intelligence)</p>
                <p>Additional major: Data Science and Technology</p>
                <p>Classification: First Class Honors</p>
            </div>
        </div>
    </segment>

    <segment title="Grades" class="session" v-show="isShowing === 'Academic'" :isDark="isDark">
        <div class="row-item">
            <div class="description">
                <p>GPA: 3.772 / 4.300</p>
                <p>Major CGA: 3.874 / 4.300</p>
                <p>The following is my grade:</p>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th v-for="header in ['Term', 'Course Code', 'Course Name', 'Credits', 'Grade']" :key="header">{{ header }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in showGrades" :key="`${row.Prefix} + ${row.Code}`">
                        <td>{{ row.Year }} {{ row.Term }}</td>
                        <td>{{ row.Prefix }} {{ row.Code }}</td>
                        <td>{{ row.Name }}</td>
                        <td>{{ row.Credit }}</td>
                        <td>{{ row.Grade }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </segment>

    <segment title="Experience" class="session" v-show="isShowing === 'Experience'" :isDark="isDark">
        <div class="row-item">
            <div class="title">
                <h5>Software Engineer</h5>
            </div>
            <div class="date text-right">
                <h6>JUL 2026 - PRESENT</h6>
            </div>
            <div class="subtitle">
                <h6>Winley Technology Limited</h6>
            </div>
        </div>
        <div class="row-item">
            <div class="title">
                <h2>Undergraduate Teaching Assistant (COMP 1021)</h2>
            </div>
            <div class="date text-right">
                <small>FEB 2026 - MAY 2026</small>
            </div>
            <div class="subtitle">
                <h4>Department of Computer Science and Engineering, HKUST</h4>
            </div>
            <div class="description">
                <p>
                    This time, I chose to be a UGTA in an already well-established 
                    course, COMP 1021 (Introduction to Computer Science), which is a 
                    course for non-engineering students even since COMP 1023 is 
                    offered.
                </p>
                <p>
                    I was responsible for hosting some of the weekly lab sessions, 
                    where I answered students' questions regarding the course 
                    content and assignments.
                </p>
            </div>
        </div>
        <div class="row-item">
            <div class="title">
                <h2>Programmer / Researcher Intern</h2>
            </div>
            <div class="date text-right">
                <small>JUL 2025 - AUG 2025</small>
            </div>
            <div class="subtitle">
                <h4>AI Future Education Limited</h4>
            </div>
            <div class="description">
                <p>
                    This was my first internship, where I worked as a programmer 
                    intern at AI Future Education Limited, a startup focusing on 
                    AI education. My role was more akin to a full-stack developer, 
                    as I contributed to both frontend and backend development, 
                    including AI chatbot development.
                </p>
                <p>
                    I was primarily responsible for backend development using Flask 
                    as the web application framework, while the frontend UI was 
                    built with Vue.js. In addition, I researched the performance of 
                    state-of-the-art small Chinese-language models and used 
                    llama-cpp-python for model inference. The AI chatbot was 
                    developed sequentially, employing rule-based methods for 
                    knowledge-based questions and RAG-based methods for 
                    scenario-based questions, with prompt engineering at every step.
                </p>
                <p>
                    Towards the end of the internship, we explored AWS services, 
                    including EC2, Lambda, and SageMaker. This internship provided 
                    invaluable experience in AI and web development in a real-world 
                    setting.
                </p>
            </div>
        </div>
        <div class="row-item">
            <div class="title">
                <h2>Undergraduate Teaching Assistant (COMP 1023)</h2>
            </div>
            <div class="date text-right">
                <small>FEB 2025 - JUN 2025</small>
            </div>
            <div class="subtitle">
                <h4>Department of Computer Science and Engineering, HKUST</h4>
            </div>
            <div class="description">
                <p>
                    I successfully reapplied as a UGTA for COMP 1023 due to
                    outstanding academic performance. My responsibilities included 
                    polishing assignments developed by previous UGTAs, adding 
                    necessary testing components, and improving visualizations.
                </p>
                <p>
                    I am happy to have been given the opportunity to witness the 
                    development of a new course, both at the very start and the 
                    intermediate stages. This experience has been invaluable in 
                    understanding the intricacies of course design and development.
                </p>
            </div>
        </div>
        <div class="row-item">
            <div class="title">
                <h2>Undergraduate Teaching Assistant (COMP 1023)</h2>
            </div>
            <div class="date text-right">
                <small>JUL 2024 - AUG 2024</small>
            </div>
            <div class="subtitle">
                <h4>Department of Computer Science and Engineering, HKUST</h4>
            </div>
            <div class="description">
                <p>
                    After failed applications for summer TA positions in other 
                    courses, Dr. Desmond Tsoi invited me to assist in the early 
                    development of his new course, COMP 1023 (Introduction to Python 
                    Programming), due to my excellent results in COMP 2211 
                    (Exploring Artificial Intelligence). I contributed to developing 
                    lab assignments from scratch, which serves as a valuable 
                    experience in curriculum design and teaching assistance.
                </p>
            </div>
        </div>
    </segment>

    <segment title="Games Playing" class="session" v-show="isShowing === 'Games'" :isDark="isDark">
        <p>Below are games I am currently playing (likely paused but will resume):</p>
        <ul>
            <li>Infinite Galaxy (DO NOT PLAY! This is a pay-to-win game, and I am a masochist playing as free-to-play.)</li>
            <li><a href="https://store.steampowered.com/app/1399720/Antimatter_Dimensions/" target="_blank">Antimatter Dimensions</a></li>
            <li><a href="https://keyemilco.wixsite.com/econline" target="_blank">EcoKey2</a></li>
            <li><a href="https://store.steampowered.com/app/1546320/Your_Chronicle/" target="_blank">Your Chronicle</a></li>
            <li><a href="https://store.steampowered.com/app/280220/Creeper_World_3_Arc_Eternal/" target="_blank">Creeper World 3: Arc Eternal</a></li>
        </ul>
    </segment>

    <segment title="Games Played" class="session" v-show="isShowing === 'Games'" :isDark="isDark">
        <p>Below are games I have played and enjoyed:</p>
        <ul>
            <li><a href="https://eco.nekogame.com/" target="_blank">Nekogame Emil Chronicle Online</a></li>
            <li>ECO-Re (Server closed)</li>
            <li>Lemon Team ECO (Server closed)</li>
            <li><a href="https://synergism.cc/" target="_blank">Synergism</a></li>
            <li><a href="https://www.talesrunner.com.hk/" target="_blank">跑 Online</a></li>
            <li><a href="https://pixelplace.io/" target="_blank">pixelplace.io</a></li>
            <li><a href="https://www.chiark.greenend.org.uk/~sgtatham/puzzles/" target="_blank">Portable Puzzle Collection</a></li>
            <li>Geometry Dash</li>
        </ul>
    </segment>
</main>