<main class="project-page">
    <segment title="Notes" id="notes" :isDark="isDark">
        <p>Here are some of the notes I have made. (In start date chronological order)</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th v-for="head in ['Title', 'LaTeX Class used', 'PDF file', 'TEX file', 'Other files']">{{ head }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="note in notesData">
                    <th>{{ note.title }}</th>
                    <td>{{ note.class }}</td>
                    <td><a :href="note.pdfLink ? note.pdfLink : ''" target="_blank">{{ note.pdfLink ? 'PDF' : '' }}</a></td>
                    <td><a :href="note.texLink ? note.texLink : ''" target="_blank">{{ note.texLink ? 'TEX' : '' }}</a></td>
                    <td><a :href="note.others ? note.others.link : ''" target="_blank">{{ note.others ? note.others.name : '' }}</a></td>
                </tr>
            </tbody>
        </table>
    </segment>
    <segment title="LaTeX Class" :isDark="isDark">
        <p>I have made some customized LaTeX class to make my notes. You can find them below:</p>
        <ul>
            <li v-for="latexClass in latexClasses">
                <a :href="latexClass.link">{{ latexClass.name }}</a>
            </li>
        </ul>
    </segment>
</main>